@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

html, body {
    font-family: Quicksand;
    margin: 0;
    background: rgb(96,96,96);
    background: linear-gradient(90deg, rgba(96,96,96,0.5) 0%, rgba(0,0,0,0.5) 50%, rgba(96,96,96,0.5) 100%);
    z-index: 0;
    height: 0%;
}

main {
    margin: 0;
}

.img-container {
    height: 200px;
    width: 200px;
    margin: 0 auto;
    margin-top: 20px;
}

.img {
    object-fit: cover;
    overflow: hidden;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 2px solid white;
}

.some-link {
    font-size: 2rem;
    padding: 0.2rem;
    width: 50px;
    height: 50px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    box-shadow: 1px 1px rgb(172, 172, 172, 0.5);
    border-radius: 2px;
    margin-bottom: 10px;
    background-color: rgb(255, 255, 255, 0.5);
}

.some-link:hover {
    transform: scale(1.01);
    box-shadow: 3px 4px red;
    background-color: rgb(255, 255, 255, 1);
}

.some-icons-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.external-link {
    display: block;
    text-align: center;
    box-shadow: 2px 2px rgb(172, 172, 172);
    background-color: rgb(255, 255, 255, 0.75);
    text-decoration: none;
    color: rgb(43, 43, 43);
    padding: 10px;
    margin-top: 10px;
    border-radius: 4px;
    flex-basis: 100%;
    font-size: 1rem;
}

.external-link:hover {
    transform: scale(1.01);
    box-shadow: 4px 4px red;
    background-color: rgb(255, 255, 255, 1);
}

.external-link__header {
    margin: 0.2rem 0;
    color: rgb(27, 27, 27);
    font-size: 0.8rem;

}

.username {
    text-align: center;
    color: white;
    font-size: 2rem;
    font-weight: 900;
    margin: 20px;
    display: block;
    text-decoration: none;
    color: rgb(185, 185, 185);
}
.username:hover {
    color: rgb(255, 255, 255);
}

@media screen and (min-width: 600px) {
    /* TABLET */
    .main {
        width: 60%;
        margin: 0 auto;
    }
    .some-icons-container {
        justify-content: center;
    }
    .some-link {
        margin: 0.4rem;
    }
}

@media screen and (min-width: 1100px) {
    /* LAPTOP */
    .main {
        width: 40%;
        margin: 0 auto;
        padding: 20px;
    }
}
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000000; 
  background-size: cover;
  background-position: 100% 100%;
  background-repeat: no-repeat;
  z-index: -1;
  /*
  width: 100%;
  height: 100vh;*/
  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-weight: 300;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}





.typed_wrap {
	height: auto;
    text-align: center;
    font-size: 1rem;
	/*centers it in the .banner
	padding: -30px;
	top: 50%;*/
	display: block;
	position: relative;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
    
    color: rgb(185, 185, 185);
}

.typed_wrap h1 {
	display: inline;
    font-size: 1.4rem;
}

/*Add custom cursor so it auto inherits font styles*/
.typed::after {
	content: '|';
	display: inline;
	-webkit-animation: blink 0.7s infinite;
	-moz-animation: blink 0.7s infinite;
	animation: blink 0.7s infinite;
}

/*Removes cursor that comes with typed.js*/
.typed-cursor{
   opacity: 0;
	display: none;
}
/*Custom cursor animation*/
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}   

.btns {
	display: block;
	width: 400px;
	margin: 0;
	padding: 30px 0 0 30px;
}
.btns a {
	display: inline-block;
	margin-left: 5px;
}
.btns a:first-child{margin-left:0}
.btn {
	font-family: sans-serif;
    font-size: 1rem;
	font-weight: 600;
	color: #ecf0f1;
	text-decoration: none;
}
a .btn {
	cursor: pointer;
	border: 1.5px solid #ecf0f1;
	border-radius: 5px;
	display: inline-block;
	padding: 10px;
	list-style-type: none;
	transition: all .3s;
}

.btn:hover {
	background: #ecf0f1;
	color: #34495e;
}